@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer resources;

@{
    ViewData["Title"] = resources["Home"];
}

<div class="text-center">
    <h1 class="display-4">@resources["Hello"]</h1>
    <h1 class="display-4">@resources["Welcome"]</h1>
    
</div>
